@import '../../style/theme/default';


.tabimg-wrapper{
	display:flex;
	flex-direction:row;
	margin:30px 1%;
  width:98%;
  flex-wrap:wrap;
  & li{
     display:flex;
     margin:0 10px;
     justify-content:center;
     align-items:center;
  }
}
.tabimg-wrapper-1{
  & li{
     flex-grow:1;
  }
}
.tabimg-wrapper-2{
  & li{
     
     flex-grow:1;
      &:last-child{
        flex-grow:0;
     }
  }
}
.precentent(@count:2){
	width:(100% - 10%) / @count;
}

.media-img(@width,@height){
	
}
