.carouset-wrapper{
	width:100%;
	height:500px;
	position:relative;
	& ul{
	   position:relative;
       height:100%;
       overflow:hidden;
	   & li{
	     width:100%;position:absolute;list-style:none;
	   }
	   & li:first-child{
	       left:0;top:0;
	   }
	   & li:last-child{
	      top:0;left:0
	   }
	}
}
.arrow{
	position:absolute;
	top:50%;
	z-index:22;
	margin-top:-18px;
	&.left-arrow{    
       left:20px;
	}
	&.right-arrow{
       right:20px;
	}
}